body {
    font-family: 'Open Sans';
}

a {
    color: inherit !important;
    transition: color 0.2s ease-out;
}
a:hover {
    text-decoration: none !important;
    color: rgb(164, 134, 199) !important;
}

#banner {
    background-image: url("../assets/banner.jpg");
    background-size: cover;
    background-position: center;
}

#tags>span {
    border-radius: 3rem !important;
}

section>.name {
    font-weight: 800;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

#img-face {
    min-height: 20rem;
}

.project {
    margin-bottom: 30px;
}

#tags>.item:hover {
    cursor: pointer;
}
#tags>.item.active {
    color: rgb(116, 38, 206) !important;
    border-color:rgb(116, 38, 206) !important;
}

.text-primary {
    color: rgb(116, 38, 206) !important;
}

.z-overlay {
    position: relative;
}
.z-overlay-color {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(38, 38, 38);

    opacity: 0.125;
    transition: opacity 0.3s ease-in;
}
.z-overlay-image {
    filter: grayscale(1);
    transition: filter 0.3s ease-in;
}

.project:hover .z-overlay-color {
    opacity: 0.0;
}
.project:hover .z-overlay-image {
    filter: grayscale(0);
}

/* sm */
@media (max-width: 767.98px) {
    .border-right {
        border-right-width: 0px !important;
    }
}
@media (max-width: 349.98px) {
    .w-sm-100 {
        width: 100%;
        margin-right: 0px;
}
